<div class="jumbotron">
  <h1>Client: <%= @client.name() %></h1>
</div>

<div class="well">
  <form action="/clients/<%= @client.id() %>" method="post">
    <input name="_method" type="hidden" value="patch">
    <label for="re_name">Rename client:</label>
    <input id="re_name" name="re_name" type="text">

    <button type="submit">Update</button>
  </form>
</div>
<div class="container">
  <form action="/clients/<%= @client.id() %>" method="post">
    <input name="_method" type="hidden" value="delete">

    <button type="submit">Delete</button>
  </form><br>
  <a href="/"><button class="">Home</a>
</div>
