<h1 class = "jumbotron">Welcome to Henni's Hair Salon</h1>
<div class="">
  <h3>Add a New Stylist:</h3>
   
  <form action="/new_stylists" method="post">
    <label for="stylist">Stylist Name:</label>
    <input id="stylist" name="stylist" type="text">

    <button type="submit">Add Stylist</button>
  </form>
</div>
<div class="">
  <h3> Add a New Client:</h3>

  <form action="/new_clients" method="post">
    <label for="client">Client Name:</label>
    <input id="client" name="client" type="text">

    <button type="submit">Add Client</button>
  </form>
</div>
